@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Cuvajte ove kodove na sigurnom </strong>
    </p>
    <p>
        Ako izgubite vas uredjaj i nemate recovery kodove necete moci pristupiti vasem racunu.
    </p>
    <p>
        Generisanjem recovery kodova necete promijeniti kljuceve koji se koriste u vasoj authenticator aplikaciji. Ako zelite da promijenite kljuceve 
       koristene u vasoj aplikaciji mozete uciniti:<a asp-page="./ResetAuthenticator">Ovdje</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generate Recovery Codes</button>
    </form>
</div>