@model UdruzenjeApp.ViewModels.PrijedlogDogadjajaVM

@{
    ViewData["Title"] = "Dodaj";
}


<h4>PredlozeniDogadjaj</h4>
<hr />
<div class="row">
    <div class="col-md-8" style="background-color:beige;">
        <form asp-action="Snimi" >
            <input asp-for="PredlozeniDogadjajID" hidden />
            <div class="form-group">
                <label asp-for="NazivPrijedloga" class="control-label"></label>
                <input asp-for="NazivPrijedloga" class="form-control" />
                <span asp-validation-for="NazivPrijedloga" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OpisPredlozenogDogadjaja" class="control-label"></label>
                <input asp-for="OpisPredlozenogDogadjaja" class="form-control" />
                <span asp-validation-for="OpisPredlozenogDogadjaja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImeClana" class="control-label"></label>
                <input asp-for="ImeClana" class="form-control" value="@Model.ImeClana" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@if(Model.PredlozeniDogadjajID==0)
 {
<div>
    <a asp-action="Index">Back to List</a>
</div>
}


