@using UdruzenjeApp.ViewModels
@model List<UdruzenjeApp.ViewModels.DrzavaDodajVM>
@{
   
    int b = 0;
}

<div id="prikaz" class=" container">
    <h2>Prikazi</h2>

    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>RB</th>
                <th>Naziv</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DrzavaDodajVM x in Model)
            {
                <tr>
                    @{
                        b++;
                    }
                    <td>@b</td>
                    <td>@x.Naziv</td>


                    <td>
                        <a href="/Drzava/Delete?TrazeniID=@x.DrzavaID" class="btn btn-danger">  Obrisi </a>
                        <a href="/Drzava/Uredi?DrzavaID=@x.DrzavaID" class="btn btn-warning" ajax-url="/Clan/Uredi?ClanID=@x.DrzavaID" ajax-rezultat="nekiID" ajax-poziv="da">  Uredi </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <button id="idButton" class="btn btn-success" ajax-rezultat="nekiID" ajax-poziv="da" ajax-url="/Drzava/Dodaj/">Dodaj</button>
    <div id="nekiID">


    </div>
</div>


