@using UdruzenjeApp.ViewModels
@model DogadjajiViewModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <!-- Page Content -->

    @foreach (var x in Model.rows)
    {
        <div class="container min-vh-100">
            <div class="jumbotron min-vh-100">
                <h2>@x.Naziv</h2>

                <br />
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" value="@x.VrijemeOdrzavanja">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" value="Sarajevo">
                        </div>
                    </div>
                </form>
                <br />
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa a explicabo minus id,
                    non cumque repellat veritatis quaerat beatae laboriosam, odit quos dolorum placeat tempore numquam quidem voluptatem iusto perspiciatis?

                    @x.opis
                </p>
            </div>


        </div>
    }

    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
